/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap");

/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  position: relative;
  background-color: var(--main-purple);
  display: flex;
  justify-content: center;
  gap: 6.4rem;
}

/* Color variables */
:root {
  --white: #fff;
  --main-purple: #d87b2e;
  --light-purple: #ffa94d;
  --dark-gray: #212529;
}

/* Header styles */
header {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.intro {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro h1 {
  font-size: 5.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.intro p {
  width: 70%;
  font-size: 1.6rem;
}

.imagens-pets {
  margin-top: 3.2rem;
  margin-right: 0.8rem;
}

.imagens-pets img {
  width: 100%;
  object-fit: cover;
  border-radius: 2.4rem;
}

.desativado {
  display: none;
}

/* Main styles */
main {
  width: 40%;
  height: 100%;
}

.formulario {
  width: 75%;
  height: 100%;
  background-color: var(--light-purple);
  border-bottom-left-radius: 3.2rem;
  border-bottom-right-radius: 3.2rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.formulario span {
  font-size: 3rem;
  font-weight: 600;
  color: #96521b;
  margin-top: 8rem;
  margin-bottom: 2.4rem;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 70%;
}

.formulario .input-container input {
  border-radius: 5rem;
  outline: none;
  border: none;
  height: 5vh;
  width: 100%;
  padding: 1.2rem;
}

.formulario label {
  color: var(--dark-gray);
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 1.6rem;
}

.formulario .texto label {
  display: block;
  margin-bottom: 0.8rem;
}

.formulario .input-container.gatos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.formulario .input-container.termos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

#termos {
  height: 1.6rem;
  width: fit-content;
}

.formulario .input-container.termos label {
  margin: 0 !important;
}

.formulario .submit {
  width: 30%;
  margin-bottom: 8rem;
}

.formulario .input-container.submit input {
  background-color: #96521b;
  color: #fff;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600 !important;
}
